language: android
jdk: oraclejdk8
sudo: false

android:
  components:
    - tools
    - build-tools-25.0.2
    - android-25
    - extra-android-m2repository
    - extra-android-support
  licenses:
    - 'android-sdk-preview-license-52d11cd2'
    - 'android-sdk-license-.+'
    - 'google-gdk-license-.+'

before_install:
 - chmod +x gradlew

script:
  - ./gradlew build
# 部署之前
#before_deploy:
  # - mv app/build/outputs/apk/app-release.apk

deploy:
  provider: releases
  api_key: "7f86620f79422f2e4ae8fbb18754a17dac5ed6db"
  file: "app/build/outputs/apk/app-release.apk"
  skip_cleanup: true
  on:
    tags: true
    rvm: 2.0.0